$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-transparent-black: rgba(0, 0, 0, 0.5);

header {
  h2 {
    color: $color-pale;
  }
}
